---
import { Image } from "astro:assets";
import KnapBlack from "src/assets/images/vector/KnapBlack.svg";
import Pil from "src/assets/images/icons/ArrowBlack.svg";
const { link = "", text = "" } = Astro.props;
---

<a href={link}>
  <div class="flex items-center cursor-pointer">
    <div class="relative w-40 h-64 flex justify-center items-center">
      <div class="absolute inset-0 animate-[spin_20s_linear_infinite]">
        <Image src={KnapBlack} alt="Stor sort knap" class="w-full h-full" />
      </div>
      <div class="absolute inset-0 animate-[spin_10s_linear_infinite_reverse]">
        <Image src={KnapBlack} alt="Stor sort knap" class="w-full h-full" />
      </div>

      <Image src={Pil} alt="Sort pil" />
    </div>
    <div>
      <p class="text-MarketMidnight-500">{text}</p>
    </div>
  </div>
</a>
