---
import { Image } from "astro:assets";
import Accordion from "../Accordion.astro";

const {
  title = "",
  image = "",
  subtitle = "",
  direction = "",
  atitle1 = "",
  atext1 = "",
  atitle2 = "",
  atext2 = "",
  atitle3 = "",
  atext3 = "",
  atitle4 = "",
  atext4 = "",
  atitle5 = "",
  atext5 = "",
  atitle6 = "",
  atext6 = "",
  atitle7 = "",
  atext7 = "",
  mh = "",
} = Astro.props;
const flexDirection = direction === "-reverse" ? "flex-row-reverse" : "flex-row";
---

<section class="flex justify-center mb-[80px] sm:mb-[163px] layout px-5 lg:px-0">
  <div class={`flex ${flexDirection} justify-center flex-wrap sm:gap-[68px]`}>
    <h3 class="mb-[24px] w-screen text-MarketMidnight-500 lg:hidden">{title}</h3>
    <div class="w-[531px] h-[600px] hidden sm:block">
      <Image
        class={`w-full h-auto min-h-140 max-h-${mh} object-cover rounded-3xl`}
        src={image}
        alt={image}
      />
    </div>
    <div class="w-full max-w-[500px] self-center">
      <h3 class="mb-[24px] text-MarketMidnight-500 hidden lg:block">{title}</h3>
      <p>{subtitle}</p>
      {atitle1 && <Accordion atitle={atitle1} atext={atext1} />}
      {atitle2 && <Accordion atitle={atitle2} atext={atext2} />}
      {atitle3 && <Accordion atitle={atitle3} atext={atext3} />}
      {atitle4 && <Accordion atitle={atitle4} atext={atext4} />}
      {atitle5 && <Accordion atitle={atitle5} atext={atext5} />}
      {atitle6 && <Accordion atitle={atitle6} atext={atext6} />}
      {atitle7 && <Accordion atitle={atitle7} atext={atext7} />}
    </div>
  </div>
</section>
