---
import { Image } from "astro:assets";
import Button from "../Button.astro";
import BigButtonBlack from "../animationer/BigButtonBlack.astro";

const {
  title = "",
  subtitle = "",
  text1 = "",
  text2 = "",
  text3 = "",
  title2 = "",
  text4 = "",
  text5 = "",
  textB = "",
  image = "",
  dot1 = "",
  dot2 = "",
  dot3 = "",
  dot4 = "",
  dot5 = "",
  direction = "",
  button1 = "",
  button2 = "",
  link1 = "",
  link2 = "",
  target1 = "",
  target2 = "",
  bbtext = "",
  bblink = "",
  styling = "",
} = Astro.props;

const flexDirection = direction === "-reverse" ? "flex-row-reverse" : "flex-row";

const showList = dot1 || dot2 || dot3 || dot4 || dot5;
---

<section class="flex justify-center mb-[163px] layout px-5 lg:px-0">
  <div class={`flex ${flexDirection} justify-center flex-wrap gap-[68px]`}>
    <h2 class="mb-[24px] text-MarketMidnight-500 lg:hidden">{title}</h2>
    <div class="w-[531px] h-[600px]">
      <Image class="h-full w-auto object-cover rounded-3xl" src={image} alt={image} />
    </div>
    <div class="w-full max-w-[576px] self-center">
      <h2 class="mb-4 text-MarketMidnight-500 hidden lg:block">{title}</h2>
      <p class="mb-[24px] text-MarketMidnight-500">{subtitle}</p>
      <p class="mb-[24px] text-MarketMidnight-500">{text1}</p>
      <p class="mb-[24px] text-MarketMidnight-500">{text2}</p>
      <p class="mb-[24px] text-MarketMidnight-500">{text3}</p>
      <h3 class="text-2xl text-MarketMidnight-500">{title2}</h3>

      <p class="mb-[24px] text-MarketMidnight-500 font-bold">{textB}</p>

      {
        showList && (
          <ul class="pl-5 mb-[24px] text-MarketMidnight-500 list-disc">
            {dot1 && <li>{dot1}</li>}
            {dot2 && <li>{dot2}</li>}
            {dot3 && <li>{dot3}</li>}
            {dot4 && <li>{dot4}</li>}
            {dot5 && <li>{dot5}</li>}
          </ul>
        )
      }

      <p class="mb-[24px] text-MarketMidnight-500">{text4}</p>
      <div class="mb-[24px] text-MarketMidnight-500 list-decimal" set:html={text5} />

      {bbtext && bblink && <BigButtonBlack text={bbtext} link={bblink} />}

      {
        (button1 && link1) || (button2 && link2) ? (
          <div class="flex gap-5">
            {button1 && link1 && (
              <a href={link1} target={target1}>
                {" "}
                <Button variant="primary" size="large">
                  {button1}
                </Button>
              </a>
            )}
            {button2 && link2 && (
              <a href={link2} target={target2}>
                <Button variant="secondary" size="large">
                  {button2}
                </Button>
              </a>
            )}
          </div>
        ) : null
      }
    </div>
  </div>
</section>
