---
import BigButtonBlack from "../animationer/BigButtonBlack.astro";
import Button from "../Button.astro";

const {
  title = "",
  subtitle = "",
  text1 = "",
  text2 = "",
  text3 = "",
  title2 = "",
  text4 = "",
  text5 = "",
  textB = "",
  image = "",
  dot1 = "",
  dot2 = "",
  dot3 = "",
  dot4 = "",
  dot5 = "",
  direction = "",
  button1 = "",
  button2 = "",
  link1 = "",
  link2 = "",
  extra = "",
  styling = "",
} = Astro.props;
const flexDirection = direction === "-reverse" ? "flex-row-reverse" : "flex-row";
const noExtra = extra === "no" ? "hidden" : "block";
---

<section class="flex justify-center mb-52">
  <div class={`flex ${flexDirection} flex-wrap gap-[68px]`}>
    <h2 class="mb-[24px] lg:hidden">{title}</h2>
    <div class="w-[531px] h-[553px]">
      <img
        class="h-full w-auto object-cover rounded-3xl"
        src={`/src/assets/images/${image}`}
        alt={image}
      />
    </div>
    <div class="w-[576px] self-center">
      <h2 class="mb-[24px] hidden lg:block">{title}</h2>
      <p class="mb-[24px]">{subtitle}</p>
      <p class="mb-[24px]">{text1}</p>
      <p class="mb-[24px]">{text2}</p>
      <p class="mb-[24px]">{text3}</p>
      <h3 class="text-2xl">{title2}</h3>
      <p class="mb-[24px]">{text4}</p>
      <p class="mb-[24px]">{text5}</p>
      <p class="mb-[24px] font-bold">{textB}</p>
      <ul class={`pl-5 mb-[24px] list-disc ${noExtra} `}>
        <li>{dot1}</li>
        <li>{dot2}</li>
        <li>{dot3}</li>
        <li>{dot4}</li>
        <li>{dot5}</li>
      </ul>
      <div class="flex gap-2">
        <a href={link1}> <Button variant="primary" size="large">{button1}</Button></a>
        <a href={link2}><Button variant="secondary" size="large">{button2}</Button></a>
      </div>
    </div>
  </div>
</section>
