---
import { Image } from "astro:assets";
import Button from "../Button.astro";

const { title = "", subtitle = "", text = "", textB = "", image = "", direction = "", extra = "" } = Astro.props;
const flexDirection = direction === "-reverse" ? "flex-row-reverse" : "flex-row";
const noExtra = extra === "no" ? "hidden" : "block";
---

<section class="flex justify-center w-full">
  <div class={`flex ${flexDirection} flex-wrap gap-[68px]`}>
    <h3 class="mb-4 text-MarketMidnight-500 lg:hidden">{title}</h3>
    <div class="w-2/5 h-auto max-w-[540px]">
      <Image class="h-full w-auto object-cover rounded-3xl" src={image} alt={image} />
    </div>
    <div class="w-2/5 self-center">
      <h3 class="mb-4 text-MarketMidnight-500 hidden lg:block">{title}</h3>
      <p class="mb-[24px] text-xl text-MarketMidnight-500">{subtitle}</p>
      <p class="mb-[24px] text-MarketMidnight-500">{text}</p>
      <p class="mb-[24px] text-MarketMidnight-500 font-bold">{textB}</p>
    </div>
  </div>
</section>
