---
import MainLayout from "../layouts/MainLayout.astro";
import Path from "../components/animationer/Path.astro";
import HeroBackground from "../components/HeroBackground.astro";
import GridCard from "@/components/cards/GridCard1_1.astro";
import OsBagGM from "@/components/OsBagGM.astro";
import ProfileCarousel from "@/components/animationer/profile-carousel";
import FAQ from "@/components/FAQ.astro";
import b1 from "src/assets/images/om_os/1.webp";
import b3 from "src/assets/images/om_os/3.webp";
import b4 from "src/assets/images/om_os/4.webp";
import b5 from "src/assets/images/om_os/5.webp";
import Hjørne from "src/assets/images/vector/HjørneGold.svg";
import Grøntsager from "src/assets/images/illustrationer/Grøntsager.webp";
import Bær3 from "src/assets/images/illustrationer/Bær3.webp";
import Jordbær from "src/assets/images/illustrationer/Jordbær.webp";
import RundTekst from "src/assets/images/vector/RundTekst.svg";
import { Image } from "astro:assets";
---

<MainLayout title="Forside">
  <HeroBackground
    title="Os bag Grønt marked"
    text="Grønt Marked er en non-profit organisation, der arbejder for at skabe et <strong>fællesskabsbaseret</strong> og alternativt fødevaresystem, som fremmer småskala, <strong>danske råvarer</strong> og producenter. <br><br> Vi ønsker at gøre vejen fra <strong>jord til bord</strong> kortere og mere gennemsigtig ved at bringe sæsonens lokale råvarer, dyrket med <strong>bæredygtige</strong> metoder, ind i bylivet."
    image={b1}
  />

  <section class="flex justify-center relative mt-[64px] sm:mt-[163px]">
    <Image src={RundTekst} alt="" class="absolute -top-12 w-70 sm:w-80 md:w-100 lg:w-145" />
    <div
      class="aspect-784/627 rounded-[600px] overflow-hidden w-3/5 sm:w-2/5 border-4 border-ForestFresh-500"
    >
      <iframe
        class="h-full w-180 flex justify-self-center"
        src="https://www.youtube-nocookie.com/embed/xdkyhMzimXg?si=MMhLNeNq9VBBbKa8&controls=0&showinfo=0&controls=0&autohid=1"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <Image
      src={Grøntsager}
      alt="Illustration af blomst"
      class="absolute -bottom-10 right-3 h-30 sm:-bottom-40 sm:left-10 sm:h-50 lg:h-70 w-auto z-1"
    />
  </section>
  <Image class="ml-auto mb-[-1px] -mt-[44px] sm:mt-[-122px]" src={Hjørne} alt="Vector Hjørne" />
  <section class="bg-GoldenGrain-300 py-[64px] sm:py-[163px] px-5 lg:px-[167px] relative">
    <Image
      src={Bær3}
      alt="Illustration af blomst"
      class="absolute top-0 right-10 h-40 w-auto z-1 hidden sm:block"
    />
    <GridCard
      title="Hvordan det hele begyndte"
      text1="Initiativet begyndte i 2019 på Refshaleøen i København, hvor Lille Bakery samlede venner og samarbejdspartnere om en idé, de mente byen manglede: et ægte bondemarked."
      text2="Siden da er Grønt Marked vokset til en levende frivilligforening af mad- og landbrugsentusiaster. Målet er at skabe et sted, hvor man kan møde producenterne ansigt til ansigt og støtte en grønnere fremtid. "
      text3="Uanset vejr og vind er markederne blevet stablet på benene – altid med ambitionen om at starte en ny tradition i Danmark, hvor det ugentlige besøg på markedet igen bliver en del af hverdagen."
      image={b3}
      button1="Støt Grænt Marked"
      link1="/stoet"
      button2="Bliv frivillig"
      link2="/stoet#frivillig"
      mh="140"
    />
    <GridCard
      title="En ny måde at handle på"
      text1="Vi ønsker at tilbyde københavnerne et reelt alternativ til den konventionelle måde at købe mad på – en mere direkte, sund og bæredygtig tilgang. Her møder du dem, der dyrker maden, ved teltene. Det giver mulighed for dialog, indsigt i produktionen og måske endda et godt køkkentip eller to."
      text2="Et marked er i sin kerne et fælles projekt – en åben platform, der hylder dem, der arbejder ansvarligt med mad. Det handler om at tage aktiv del i nye, lokale madtraditioner. Det kræver mange hænder og hjerter, men det er det hele værd."
      text3="Vi er dybt taknemmelige for de frivillige, bønder, besøgende og ildsjæle, der er med til at gøre Grønt Marked til noget særligt. Uden jer fandtes det ikke."
      title2="Markedet vokser med byen"
      text4="Baseret i København siden 2019 byder markedet producenter fra Sjælland, Bornholm, Fyn og Skåne velkommen. De medbringer de bedste råvarer, og borgerne får mulighed for at etablere socioøkonomiske relationer, lære om maden og dens oprindelse, samt støtte småskala landbrug direkte. "
      text5="Grønt Marked findes nu i fire københavnske bydele (Vesterbro, Nørrebro, Frederiksberg og Indre By) og arbejder for at styrke den fællesskabsorienterede essens af vores by og gøre en forskel i fødevaresystemet."
      image={b4}
      button1="Se kalenderen"
      link1="/kalender"
      direction="-reverse"
    />
    <Image
      src={Bær3}
      alt="Illustration af blomst"
      class="absolute bottom-250 right-10 h-40 w-auto z-1 hidden sm:block"
    />
    <GridCard
      title="Dem der gør det muligt"
      text1="Når du besøger Grønt Marked, vil du møde producenter, der deler vores værdier om gennemsigtighed, social ansvarlighed, respekt for miljøet og dyrevelfærd. De arbejder hver dag med passion for at dyrke, høste, brygge, destillere og skabe de sundeste og friskeste råvarer. Hver eneste produceret vare er et resultat af hårdt arbejde, hvor de samtidig styrker og respekterer de økosystemer, de er en del af."
      text2="Vores producenter kæmper ikke kun for kvaliteten af deres produkter, men også for at fremme et bæredygtigt og regenerativt landbrug, der beskytter naturen og fremmer en bedre fremtid for vores fødevaresystem."
      text3="Som borger har du mulighed for at blive en del af dette fællesskab og skabe stærke relationer med de mennesker, der står bag maden. Du får indsigt i, hvordan maden bliver til, og hvem du støtter. Samtidig kan du lære om den danske sæson og de råvarer, vi kan producere, mens du tager friskhed, kvalitet, historie, ekspertise og opskrifter med hjem."
      image={b5}
      button1="Mød proudcenterne"
      link1="/producenterne"
    />
    <Image
      src={Jordbær}
      alt="Illustration af blomst"
      class="absolute bottom-20 -left-5 h-80 w-auto z-1 hidden sm:block"
    />
  </section>
  <Image class="mt-[-1px] rotate-180 -mb-[44px] sm:mb-[-122px]" src={Hjørne} alt="Hjørne svg" />
  <OsBagGM />
  <ProfileCarousel client:load />
  <FAQ />
</MainLayout>
