---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import GridCard from "@/components/cards/GridCard1_1.astro";
import PopUpCard from "@/components/cards/PopUpCard.astro";
import AccordionCard from "@/components/cards/AccordionCard.astro";
import HvorforIcons from "@/components/HvorforIcons.astro";
import Button from "@/components/Button.astro";
import Accordion from "@/components/Accordion.astro";
import ScrollCarousel from "@/components/animationer/scroll-carousel";
import FAQ from "@/components/FAQ.astro";
import b1 from "src/assets/images/producent/1.webp";
import b2 from "src/assets/images/producent/2.webp";
import b3 from "src/assets/images/producent/3.webp";
import b4 from "src/assets/images/producent/4.webp";
import HjørneGold from "src/assets/images/vector/HjørneGold.svg";
import HjørneGreen from "src/assets/images/vector/HjørneGreen.svg";
import VectorProducent from "src/assets/images/vector/HeroProducent.svg";
import Økonomi from "src/assets/images/vector/Økonomi.svg";
import Relationer from "src/assets/images/vector/Leaf.svg";
import Fællesskab from "src/assets/images/vector/Fællesskab.svg";
import FAQproducent from "@/components/FAQproducent.astro";
import Bær from "src/assets/images/illustrationer/Bær.webp";
import Grøntsager2 from "src/assets/images/illustrationer/Grøntsager2.webp";
---

<MainLayout variant="secondary" title="Producent">
  <Image class="top-0 w-full h-auto" src={VectorProducent} alt="Grøn vector baggrund" />
  <Image
    src={Bær}
    alt="Illustration af bær"
    class="h-40 w-auto relative bottom-35 left-2 rotate-300"
  />

  <GridCard
    title="Producent sektionen"
    image={b1}
    text1="Velkommen til producent sektionen. Her finder du den information, du har brug for som nuværende eller kommende producent på Grønt Marked. Uanset om du allerede har en stand, overvejer at blive en del af fællesskabet, eller blot er nysgerrig, er du hjerteligt velkommen."
    text2="Vi opfordrer alle producenter til at orientere sig grundigt her på siden. En fælles forståelse af Grønt Markeds værdier, retningslinjer og ambitioner er afgørende for at skabe et marked præget af kvalitet, gennemsigtighed og godt samarbejde."
    text3="Hvis du ønsker at blive producent, anbefaler vi, at du læser følgende afsnit her på siden inden du ansøger:"
    dot1="Forventninger"
    dot2="Retningslinjer og priser"
    text4="Det giver dig et klart billede af, om dine produkter og værdier matcher Grønt Markeds. Du finder information om, hvordan du ansøger, længere nede på siden under Hvordan bliver du Grønt Marked producent."
    text5="Vi glæder os til at høre fra dig – og til at lære dine produkter at kende."
    button1="Ansøg nu"
    link1="https://groentmk.mymarket.org/forms/signup "
    target1="_blank"
    direction="-reverse"
  />

  <Image class="ml-auto mb-[-1px] mt-[-290px]" src={HjørneGold} alt="Vector Hjørne" />
  <section id="hvorfor" class="bg-GoldenGrain-300 py-30 px-5 lg:px-[167px] w-full relative">
    <Image
      src={Grøntsager2}
      alt="Illustration af grøntsager"
      class="absolute top-10 right-20 h-40 lg:h-60 w-auto z-1"
    />
    <HvorforIcons
      subtext="Grønt Marked giver producenter mulighed for at tage del i et strategisk fællesskab, hvor mad ikke blot er en handelsvare, men en del af noget større. Her styrkes de små værdikæder, og du får ejerskab over både din fortælling og din fortjeneste. Sammen bygger vi et marked, hvor nærhed, ansvar og økonomisk robusthed går hånd i hånd. Vi har samlet de 3 bedste grunde til hvorfor du skal sælge på Grønt Marked:"
      title1="Større økonomisk stabilitet"
      text1="Direkte salg giver producenterne både fuld gevinst og ansvar, hvilket styrker deres samlede økonomi."
      title2="Stærkere relationer og synlighed"
      text2="Direkte og vedvarende kontakt med kunderne styrker relationer, skaber loyalitet og øger produktets synlighed."
      title3="Fællesskab og værdiskabelse"
      text3="Mad betragtes som en fælles sag, hvor alle aktører aktivt bidrager til bæredygtige løsninger sammen."
      icon1={Økonomi}
      icon2={Relationer}
      icon3={Fællesskab}
    />
  </section>
  <Image id="hvordan" class="mt-[-1px] rotate-180" src={HjørneGold} alt="Vector Hjørne" />
  <GridCard
    title="Hvordan bliver du producent?"
    image={b2}
    text="Brødtekst"
    title2="Ønsker du at deltage?"
    text4="Vi beder dig venligst følge den enkle 4-trins vejledning nedenfor, hvis du ønsker at søge om optagelse på markedet."
    text5='<ol class="pl-4 list-decimal"><li>Læs venligst markedets Forventninger og Retningslinjer grundigt igennem.</li><br> <li>Udfyld ansøgningsformularen nedenfor.</li><br> <li>Vi gennemgår din ansøgning og vender tilbage med et svar hurtigst muligt.</li><br> <li>Hvis din ansøgning accepteres, modtager du en automatisk e-mail med vigtig information om, hvordan du opretter en brugerprofil på Grønt Markeds hjemmeside for at færdiggøre din optagelse.</li> </ol>'
    button1="Ansøg nu"
    link1="https://groentmk.mymarket.org/forms/signup"
    target1="_blank"
    direction="-reverse"
  />

  <Image class="ml-auto mb-[-1px] -mt-50 lg:mt-[-290px]" src={HjørneGreen} alt="Vector Hjørne" />
  <section class="bg-ForestFresh-500 py-30 px-5 lg:px-[167px] w-full flex flex-col justify-center">
    <h2 class="text-MarketLinen-500 text-center mb-[34px]">
      “Det bedste ved markedet er fællesskabet. Her deler vi ikke bare mad, men også værdier og
      glæde!”
    </h2>
    <p class="m-auto text-MarketLinen-500 mb-5">Karina Petersen fra Planteunivers</p>
    <div class="m-auto">
      <a href="/producenterne">
        <Button variant="primary" size="large"> Mød producenterne </Button>
      </a>
    </div>
  </section>
  <Image class="mt-[-1px] rotate-180" src={HjørneGreen} alt="Vector Hjørne" />

  <section id="forventninger" class="layout w-full px-5 lg:px-[167px]">
    <h2 class="text-MarketMidnight-500 mb-[34px]">Forventninger til markedsdage</h2>
    <section class="flex justify-center mb-52">
      <div class="flex flex-wrap gap-[68px]">
        <div class="w-4/9">
          <p class="mb-[24px] text-MarketMidnight-500">
            Vores mål er altid at sikre, at du som deltager har alt, hvad du behøver, herunder el,
            vand, ekstra plads, telte og meget mere. Vi beder blot om, at du gør os opmærksomme på
            eventuelle særlige behov i god tid, så vi kan imødekomme dem bedst muligt. Hvis du har
            særlige behov kan du skrive til os på hello@groentmarked.dk.
          </p>
          <p class="mb-[24px] text-MarketMidnight-500">
            Vores frivillige er altid parate til at assistere, hvis en uventet situation opstår. På
            Grønt Marked kan vi stole på hinanden, og det er netop denne fællesskabsånd, der gør
            markedet stærkt.
          </p>
          <p class="mb-[24px] text-MarketMidnight-500">
            Vi designer sammensætningen af markedets deltagere for at sikre en optimal balance i
            udbuddet. Vores primære mål er at skabe en fair og gennemsigtig markedsplads, hvor alle
            producenter har lige muligheder for at trives.
          </p>
        </div>
        <div class="sm:w-[475px]">
          <Accordion
            atitle="Besøgende"
            atext="Vores marked tiltrækker gennemsnitligt 1500-2000 besøgende pr. markedsdag. Du vil møde mange stamgæster samt mennesker i alle aldre og fra forskellige nationaliteter. Vi opfordrer altid forældre til at tage deres børn med og give dem indsigt i, hvor maden kommer fra."
          />
          <Accordion
            atitle="Vejret"
            atext="Vejret kan have stor indflydelse på både kundetilstrømning og salg på markedet. Både for meget sol og for meget regn kan påvirke oplevelsen. Uanset vejret er vi dog ansvarlige for at sikre, at Grønt Marked gennemføres. Kontinuitet og stabilitet er nøglefaktorer for en succesfuld markedssæson. I tilfælde af ekstreme vejrfænomener (som kraftig regn eller vind) vil vi kommunikere eventuelle ændringer eller aflysninger så tidligt som muligt."
          />
          <Accordion
            atitle="Forpligtigelse til markedet"
            atext="Vi forventer, at du har et stærkt engagement i det marked, du deltager i, og respekterer markedets fællesskab af producenter og håndværkere. Det er gennem aktivt samarbejde og samarbejde mellem alle parter – arrangører, producenter, bønder, frivillige og forbrugere – at vi kan sikre en vellykket markedsdag.<br><br>Manglende fremmøde uden forudgående varsel eller utilstrækkelig tid til at finde en erstatning påvirker direkte markedets integritet. Huller i markedet, både hvad angår layout og produktudbud, kan underminere kundernes engagement og deres vilje til at vende tilbage til markedet."
          />
        </div>
      </div>
    </section>
  </section>

  <ScrollCarousel client:only />
  <section class="layout w-full">
    <section id="retningslinjer" class="px-5 lg:px-[167px]">
      <h2 class="text-MarketMidnight-500 mb-[34px]">Retningslinjer for Grønt Marked</h2>
      <p class="mb-[24px] text-MarketMidnight-500">
        Du kan læse mere om vores retningslinjer for producenter nedenfor. Har du fortsat spørgsmål,
        er du velkommen til at kontakte os på <a href="mailto:hello1@groentmarled.dk"
          ><u>hello@groentmarked.dk</u></a
        >.
      </p>
    </section>

    <AccordionCard
      title="Produktkrav og prissætning"
      image={b3}
      subtitle="Grønt Marked retningslinjer 2025"
      atitle1="Tilladte produkter på Grønt Marked"
      atext1=""
      atitle2="Grønt Marked produkt retningslinjer"
      atext2=""
      atitle3="Krav for animalske produkter"
      atext3=""
      atitle4="Prissætning for produkter"
      atext4="Vi forventer, at salgspriserne på Grønt Marked ikke overstiger priserne i eksterne butikker (f.eks. supermarkeder).<br><br>Bondemarkeder er globalt set skabt for, at forbrugerne kan købe råvarer til en fair pris direkte fra producenterne, uden mellemled. Grønt Marked er et sted for direkte salg til kunderne, hvilket giver producenterne mulighed for at tjene en større margin end ved salg gennem tredjeparter. Dette er et krav for alle producenter på markedet."
    />
    <AccordionCard
      title="Deltagelse og priser"
      image={b4}
      subtitle="Forskrifter 2023"
      atitle1="Deltagelsespolitik"
      atext1="Når din deltagelse på markedet er bekræftet, forventer vi, at du underretter os om potentielle ændringer så tidligt som muligt.<br><br>Hvis dine planer ændrer sig, og du må aflyse en registrering, bedes du underrette os mindst to uger før markedsdagen. Ved aflysning mindre end to uger før markedet forbeholder vi os retten til at fakturere det fulde beløb. Vi forstår, at der kan opstå særlige omstændigheder, nødstilfælde og situationer i sidste øjeblik, som vi naturligvis altid vil tage hensyn til. Vi opfordrer dog til at være proaktive, have en plan B og sørge for at underrette os hurtigst muligt.<br><br>Hvis du har behov for at ændre dine markedsdatoer, bedes du gøre det via din profil på MarketWurks."
      atitle2="Betaling af stand"
      atext2="Deltagelsen beregnes som en procentdel af omsætningen på markedet ekskl. moms, med et minimums- og maksimumsbeløb. Dette sikrer en balanceret pris for alle typer og størrelser af producenter. En rapportformular vil blive delt med alle deltagende producenter, og al information behandles fortroligt.<br><br>Standgebyr: 8 % af dagens omsætning ekskl. moms (vi tilføjer 25 % moms på vores 8 %-faktura). Minimumsgebyr: DKK 350 ekskl. moms. Maksimumsgebyr: DKK 1.000 ekskl. moms.<br><br>NB: Ved aflysning mindre end to uger før markedsdagen forbeholder vi os retten til at fakturere DKK 500 ekskl. moms som aflysningsgebyr. Vi anbefaler, at du planlægger i god tid og ringer til os, hvis der opstår ændringer, så vi sammen kan finde en løsning."
      atitle3="Hvem må stå i standen?"
      atext3="Grønt Marked tager imod alles input og er åbne over for fair og direkte feedback. Vi tolererer dog ikke konfronterende eller aggressiv opførsel over for medarbejdere, frivillige eller forbrugere. Upassende opførsel vil resultere i en advarsel og potentiel udelukkelse fra markedet.<br><br>Tilsvarende risikerer stadeholdere, der ignorerer regler og retningslinjer for afkreditering, afmærkning eller generelle aftaler med Grønt Marked, at miste deres plads på markedet.<br><br>Hvis du har bekymringer på markedsdagen omkring driften, så kontakt os endelig. Hvis en situation ikke kan løses på selve dagen, og du ønsker at tage den videre, så skriv venligst til os – så tager vi en konstruktiv dialog og forsøger at finde en god løsning sammen.<br><br>Hvis en stadeholder bryder med vores forskrifter, retningslinjer eller adfærdskodeks, vil vi tage deres deltagelse op til genovervejelse og suspendere den, indtil en endelig beslutning er truffet."
      atitle4="Præsentation af standen"
      atext4="Gennemsigtighed og fællesskab er nøgleord for vores markeder. Gæsterne forventer at kunne tale direkte med producenterne og lære mere om maden. Derfor opfordrer vi til, at personen bag disken enten er den primære producent, et familiemedlem eller en medarbejder i virksomheden – alle med direkte involvering i produktionen. Ved forarbejdede produkter skal sælgeren også have deltaget i processen og have grundig viden om varerne.<br><br>Virksomhedens navn skal altid være tydeligt synligt for kunderne. Alle varer til salg skal præsenteres ordentligt og have synlige priser – enten via mærkater på emballerede varer eller skilte ved produkter uden emballage. Alle råvarer, der sælges, skal overholde gældende danske mærkningskrav.<br><br>Vi forventer, at teltene er bemandede under hele markedets åbningstid. Hvis du er nødt til at være væk et øjeblik, anbefaler vi, at du beder et nabotelt om at tage imod kunder i mellemtiden."
      atitle5="Kommunikation"
      atext5="Vi promoverer vores marked gennem sociale medier, nationale og lokale medier samt flyers, plakater og andet trykt materiale. Vi deler altid det grafiske materiale for hvert marked med alle producenterne.<br><br>For at sikre et succesfuldt marked er det vigtigt, at alle producenter også hjælper med at sprede budskabet gennem deres egne netværk – fx via hjemmesider, e-maillister og sociale medier."
      atitle6="Telte og sikkerhed"
      atext6="Vi har 20 smukke telte til rådighed på markedet. Teltene deles enten mellem to producenter eller bruges af én producent alene. Hvert telt måler 3 m x 1 m. Medmindre vi informerer dig andet på forhånd, vil du blive tildelt en plads i et af vores telte.<br><br>Det er dit ansvar at sikre, at teltet er stabilt og sikkert under hele markedets varighed. Hvis du oplever problemer med teltet, så kontakt os hurtigst muligt."
      atitle7="Privacy"
      atext7="Vi forbeholder os retten til at bruge fotos og videooptagelser fra markederne – herunder billeder af enkelte boder – til at promovere markedet generelt, både i trykt materiale, på vores hjemmeside og via andre kanaler."
      direction="-reverse"
    />
  </section>
  <div id="faq">
    <FAQproducent />
  </div>
</MainLayout>
