---
import { Image } from "astro:assets";
import Hero from "../assets/images/Hero.svg";
import BigButton from "./animationer/BigButton.astro";
import Bær from "src/assets/images/illustrationer/Bær.webp";

const {
  title = "",
  text = "",
  textl = "",
  image = "",
  btext = "",
  link = "",
  bg = "",
  tsize = "",
} = Astro.props;
---

<section class={`relative w-full overflow-hidden  ${bg}`}>
  <!-- Background SVG -->
  <div class="absolute top-0 left-0 w-full h-[150%] sm:h-full -z-10">
    <Image src={Hero} alt="Green background" class="w-full h-full object-cover" />
  </div>

  <!-- Main Flex Container -->
  <div class="relative z-2 flex flex-col lg:flex-row">
    <!-- Main Image should be on top on mobile, right side on desktop -->
    <div class="w-full lg:w-1/2 order-1 lg:order-2">
      <Image src={image} alt="Main image" class="w-full h-full object-cover" />

      <!-- Title overlay only on mobile -->
      <h1
        class="lg:hidden absolute inset-0 flex items-center justify-center text-MarketLinen-500 text-5xl font-display text-center px-4"
      >
        {title}
      </h1>
    </div>

    <!-- Text content -->
    <div
      class="w-full lg:w-1/2 px-4 lg:px-20 py-10 flex flex-col justify-center order-2 lg:order-1"
    >
      <!-- Title for desktop only -->
      <h1 class={`hidden lg:block font-display text-MarketLinen-500 ${tsize} leading-none`}>
        {title}
      </h1>

      <div class="mt-4 text-MarketLinen-500 text-base md:text-lg space-y-4">
        <p set:html={text} />
        <div set:html={textl} />
      </div>

      {
        btext && (
          <div class="mt-8">
            <BigButton link={link} text={btext} />
          </div>
        )
      }

      <div class="mt-10 animate-bounce flex justify-end">
        <img
          class="rotate-90 w-6 h-6"
          src="/src/assets/images/icons/Arrow.svg"
          alt="Scroll down arrow"
        />
      </div>
    </div>
  </div>

  <!-- Berry illustration -->
  <Image src={Bær} alt="Illustration af bær" class="absolute bottom-0 left-0 h-40 w-auto" />
</section>
