---
const {
  subtext = "",
  title1 = "",
  text1 = "",
  title2 = "",
  text2 = "",
  title3 = "",
  text3 = "",
  icon1 = "",
  icon2 = "",
  icon3 = "",
} = Astro.props;
---

<section class="layout w-full">
  <h2 class="text-MarketMidnight-500 mb-[34px]">Hvorfor gør vi det?</h2>
  {subtext && <p class="text-MarketMidnight-500 mb-[34px]">{subtext}</p>}
  <article class="flex gap-10 mb-[34px]">
    <img class="w-20 h-auto" src={`src/assets/images/vector/${icon1}`} alt={icon1} />
    <div class="flex flex-col gap-2">
      <h3>{title1}</h3>
      <p>
        {text1}
      </p>
    </div>
  </article>
  <article class="flex gap-10 mb-[34px]">
    <img class="w-20 h-auto" src={`src/assets/images/vector/${icon2}`} alt={icon2} />
    <div class="flex flex-col gap-2">
      <h3>{title2}</h3>
      <p>
        {text2}
      </p>
    </div>
  </article>
  <article class="flex gap-10 mb-[34px]">
    <img class="w-20 h-auto" src={`src/assets/images/vector/${icon3}`} alt={icon3} />
    <div class="flex flex-col gap-2">
      <h3>{title3}</h3>
      <p>
        {text3}
      </p>
    </div>
  </article>
</section>
