---
import { Image } from "astro:assets";
import b1 from "../assets/images/instagram/1.webp";
import b2 from "../assets/images/instagram/2.webp";
import b3 from "../assets/images/instagram/3.webp";
import b4 from "../assets/images/instagram/4.webp";
import b5 from "../assets/images/instagram/5.webp";
import b6 from "../assets/images/instagram/6.webp";
import b7 from "../assets/images/instagram/7.webp";
import b8 from "../assets/images/instagram/8.webp";
import b9 from "../assets/images/instagram/9.webp";
import b10 from "../assets/images/instagram/10.webp";
---

<section class="layout" id="some">
  <div class="max-w-[1220px] layout">
    <h2 class="pb-[45px] md:pb-6">
      Følg
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class=""> @grøntmarked </a>
      på Instagram for at se mere
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 md:gap-6">
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-100 object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b1} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b2} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b3} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b4} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b5} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b6} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b7} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b8} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b9} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/groentmarked/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-[20px] h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={b10} alt="SoMe billede" />
      </a>
    </div>
  </div>
</section>
