---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import EventCalendar from "./filter/event-calendar";
import Hjørne from "src/assets/images/vector/HjørneHvid.svg";
import Blomst from "src/assets/images/illustrationer/Blomst1.webp";
import Aspargs from "src/assets/images/illustrationer/Aspargs.webp";
import Bær from "src/assets/images/illustrationer/Bær.webp";
import Bær3 from "src/assets/images/illustrationer/Bær3.webp";
import Beet from "src/assets/images/illustrationer/Beet.webp";
import Grøntsager2 from "src/assets/images/illustrationer/Grøntsager2.webp";
---

<section class="bg-GoldenGrain-300 pb-40 px-5 lg:px-[167px] relative z-0 overflow-hidden">
  <Image
    src={Grøntsager2}
    alt="Illustration af grøntsager"
    class="absolute top-0 right-10 lg:right-40 h-50 xl:h-80 w-auto opacity-30 lg:opacity-100"
  />
  <h2 class="mb-[24px] text-MarketMidnight-500">Kalender for Grønt Marked</h2>
  <p class="mb-[24px] text-MarketMidnight-500">
    Ønsker du at booke en oplevelse, kan du nemt klikke på den ønskede begivenhed i kalenderen.
    Herefter bliver du guidet videre til tilmelding. Vil du læse mere om de forskellige
    arrangementer inden du booker, kan du yderligere information på siden <i>Arrangementer</i> , som
    du nemt kan tilgå via knappen herunder.
  </p>
  <p class="mb-[24px] text-MarketMidnight-500">
    Du kan også downloade kalenderen direkte til din egen digitale kalender. Så får du automatisk
    overblik over kommende begivenheder og på den måde er du altid opdateret og går ikke glip af nye
    markeder, workshops eller oplevelser.
  </p>
  <div class="flex gap-5">
    <a href=""> <Button variant="primary" size="large">Download kalenderen</Button></a>
    <a href="/arrangementer"> <Button variant="secondary" size="large">Se arrangementer</Button></a>
  </div>
  <Image
    src={Blomst}
    alt="Illustration af blomst"
    class="absolute top-100 right-0 h-50 lg:h-60 w-auto rotate-20 z-1 opacity-30"
  />
  <Image
    src={Aspargs}
    alt="Illustration af blomst"
    class="absolute top-150 right-30 h-50 lg:h-60 w-auto rotate-340 z-1 opacity-30"
  />
  <Image
    src={Bær3}
    alt="Illustration af blomst"
    class="absolute top-130 left-10 h-40 w-auto rotate-0 z-1 opacity-30"
  />
  <Image
    src={Bær}
    alt="Illustration af blomst"
    class="absolute top-190 left-0 h-50 lg:h-60 w-auto rotate-300 z-1 opacity-30"
  />
  <Image
    src={Beet}
    alt="Illustration af blomst"
    class="absolute top-340 right-30 lg:left-190 h-50 lg:h-60 w-auto z-1 opacity-30"
  />
  <Image
    src={Bær3}
    alt="Illustration af blomst"
    class="absolute top-280 right-20 h-40 w-auto z-1 opacity-30"
  />
  <Image
    src={Beet}
    alt="Illustration af blomst"
    class="absolute top-540 left-15 h-50 rotate-45 lg:h-60 w-auto z-1 opacity-30"
  />
  <Image
    src={Aspargs}
    alt="Illustration af blomst"
    class="absolute top-600 right-30 h-50 lg:h-60 w-auto rotate-340 z-1 opacity-30"
  />
  <EventCalendar client:load />
  <Image class="absolute bottom-0 right-0 top-auto" src={Hjørne} alt="Vector Hjørne" />
</section>
